* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
    background: url("/static/img/manage-bg/manage-login.jpg") no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.form_body {
    width: 25%;
    margin: 0 auto;
    margin-top: 10%;
}

form {
    text-align: center;
    padding: 30px 20%;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, .7);
}

.name-input, .pwd-input {
    width: 80%;
    height: 40px;
    margin: 10px 0 0 20px;
    border: none;
    outline: none;
    font-size: 20px;
    color: deepskyblue;
    background-color: rgba(0, 0, 0, 0);
}

.submit {
    border: 1px solid #5EAF6F;
    border-radius: 5px;
    transition: all 0.3s;
    color: #5EAF6F;
    padding: 10px 15px;
    margin: 10px auto;
    background-color: white;
}

.submit:hover {
    color: white;
    background-color: #5EAF6F;
    border-radius: 10px;
}

.error_msg_show {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}