{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mr'Xu">
    <meta name="Description" content="WebSite Desc">
    <meta name="keywords" content="search keyword">
    <meta name="website" content="http://www.xumeijie.com/">
    <link rel="shortcut icon" href="{% static 'site_icon/mysite_couple_heart_love_icon.svg' %}"/>
    <title id="site_title"></title>
    <link rel="stylesheet" type="text/css" href="{% static 'other/dog.css' %}">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<div class="header">
    <h1>舔狗日记</h1>
    <p><span>5月20日</span>&nbsp;<span>多云转晴</span></p>
</div>
<div class="ztg"></div>
<div class="ztg2"></div>
<div class="diary">
    <div class="showText">
        <div class="yh"></div>
        <p class="content">舔狗舔狗，舔到最后一无所有！<br/>
            舔得狗中狗，方为人上人！！！
        </p>
        <p class="from">———— 来自“网络”</p>
    </div>
</div>
<div class="botton">
    <a href="javascript:onceagain();" title="绿到你发慌!"> 呲 溜~ </a>
</div>
<div class="back-home">
    <a href="{% url 'blog:home' %}">返回首页</a>
</div>
</body>
<script>
    var i = 0;

    function diary() {
        var content = [
            '你昨天晚上又没回我的消息，在我孜孜不倦的骚扰下，你终于舍得回我了，你说“滚”，这其中一定有什么含义，我想了很久，滚是三点水，这代表你对我的思念也如滚滚流水一样汹涌，我感动哭了，不知道你现在在干嘛，我很想你。',
            '在我入职保安的那天，队长问我：你知道你要保护谁嘛？我嘴上说的是业主， 心里却是你。 over',
            '今天我对她说：我想问一下，爱奇艺会员，你有吗？她没发现是“我爱你”的藏头诗，还骂我穷鬼，让我滚。滚就滚，我看不了青春有你，我的青春也没有你。',
            '今天表白被拒绝了，她对我说能不能脱下裤子撒泼尿照照自己，当我脱下裤子，她咽了口水，说我们可以试一下。',
            '刚从派出所出来，原因前几天14号情人节，我想送你礼物，我去偷东西的时候被抓了，我本来想反抗，警察说了一句老实点别动，我立刻就放弃了反抗，因为我记得你说过，你喜欢老实人。',
            '不想再当舔狗了，有些人心是J开头的不可描述部位做的，越舔越硬。',
            '我存了两个月钱，给你买了一双北卡蓝，你对我说一句谢谢，我好开心。这是你第一次对我说两个字，以前你都只对我说滚。今天晚上逛咸鱼，看到了你把我送你的北卡蓝发布上去了。我想你一定是在考验我，再次送给你，给你一个惊喜，我爱你。',
            '今天发工资了，我一个月工资800，你猜我会给你多少，是不是觉得我会给你1200，因为厂里全勤奖还有400。错了，我会再和工友借114凑够1314转给你。',
            '我给你打了一通电话，你终于接了。听到了你发出啊啊啊啊的声音，你说你脚痛，我想你一定是很难受吧。电话还有个男的对你说“来换个姿势”。你一定是在做理疗，好心疼，期待你早日康复。',
            '我今天坐在窗边给你发了99条消息，你终于回我了，你说“发你妈啊”。我一下就哭了，原来努力真的是有用的，你已经开始考虑见我妈妈了，你也一定是喜欢我的吧。',
            '今天看到你和一个帅哥吃饭，看起来关系很密切的样子。你从来没告诉过我你有一个这么好的朋友，一定是怕我多想，你总为我着想，你对我真好。',
            '刚刚你跟我说我很恶心，让我不要骚扰你了。我听了很高兴，小说里的主角都像你这样，最开始表现的很厌恶，但最后总会被我的真心打动。你越讨厌我，以后就会越愧疚，越爱我。嘻嘻。',
            '今天捡垃圾赚了5块钱，给你买了瓶水，怕你和别人接吻会口渴，我会继续好好挣钱，努力守护你，我的女神。',
            '你已经十三个小时两分钟57秒没有回我消息了，一支晨光的水性笔可以把你的名字写两千四百三十五遍，这是我等你回消息时候发现的。',
            '在我一如既往的每天跟她问早安的时候，她今天终于回我了，我激动地问她我是不是今天第一个跟她说话的人她说不是，是她男朋友把她叫起来退房的。',
            '今天是雨天，我去你公司接你下班。看见我后你说“你烦不烦啊，不要来找我了”，一头冲进雨里就跑开了。我心里真高兴啊，你宁愿自己淋湿，也不愿意我淋一点雨。你果然还是爱我的。',
            '今天发工资了给女神转了1500，她一直以为我一个月只挣1500，其实不是的，我捡垃圾一个月挣9000，给她转1500剩下7500给女神雇了五个舔狗，我只是害怕她只有我一个人舔会不开心。',
            '今天给你发了20条消息，你还是没有回我，我知道你在跟男生聊天，但我就是想用消息的数量刷一下存在感 。我做不了你聊天的主角，那我就做你和他聊天的背景提示音。',
            '我们终于还是分开了，我仔细想了想我们的曾经，你从来没对我说过晚安，或许你根本就没爱过我吧。我在我们的聊天记录里搜索“晚安”，只有一条，你说“我早晚安排人弄死你”',
            '今天我给你发消息，汇报日常工作，你终于回了我四个字：“嗯嗯，好的”你开始愿意敷衍我了，我太感动了受宠若惊。我愿意天天给你发消息。就算你天天骂我，我也不觉得烦',
            '我也想和你一起打游戏，玩吃鸡，拉近感情，然后今天跟你打了几把，只记得你说：“那波你怎么不上啊，你在想你ma呢”。虽然你骂我，但是我还是很开心，很开心跟你一起玩游戏，我们的感情又近了一步呢。',
            '虽然昨天有一点不开心，但是今天早上不知羞耻的我还是给你发了一句早安，你也回了一个早，我很开心，有你的回复就足够了，我的快乐就是这么简单。',
            '你好像从来没有主动说过爱我，我搜索了一下关键字“爱”，在我们的聊天记录里，你只说过：“你爱怎么想就怎么想吧”，我的心猛地颤了一下，原来你也爱我，我的泪水不禁流了下来。我妈看见了问我怎么了，我高兴地说我要结婚了。',
            '有点想你了，我看着红色感叹号陷入了久久的沉思。我想这其中一定有什么含义：红色红色，我明白了，红色代表热情，是喜庆的颜色，说明你想和我结婚！亲爱的，我愿意！',
            '我爸发现了我的日记，他跟我说再敢写舔狗日记就打断我的腿，我长舒了一口气：幸好不是胳膊，这样我还能继续和你打字聊天，就算连膊胳也打断了，我的心里也只会有你的位置，爱你。',
        ];
        // var random = Math.round(Math.random()*24);    // 基本均衡获取 0 到 10 的随机整数，其中获取最小值 0 和最大值 10 的几率少一半。
        i += 1;
        if (i == 25) {
            i = 0;
        }
        return content[i];
    }

    function onceagain() {
        $('.content').html(diary());
    }
</script>
</html>