.article-list {
    position: relative;
    top: 0;
    margin-bottom: 20px;
    width: 100%;
    height: 11rem;
    border-radius: 12px;
    transition: all 0.3s;
    padding: 1.25rem;
    box-sizing: border-box;
    background: rgba(255, 255, 255, .9) url("/static/img/bg/ds.png") no-repeat right bottom;
    box-shadow: rgba(17, 17, 26, 0.1) 0 8px 24px,
    rgba(17, 17, 26, 0.1) 0 16px 56px,
    rgba(17, 17, 26, 0.1) 0 24px 80px;
}

.article-list:hover {
    top: -0.625rem;
    box-shadow: 5px 10px 15px rgba(92, 172, 238, 0.6);
}

.article-list h1 {
    text-align: center;
}

.article-list h1 a {
    color: black;
    transition: all 0.3s;
}

.article-list h1 a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 3px;
    /* 高度 */
    top: 100%;
    left: 0;
    background: deeppink;
    /* 下划线颜色 */
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: right;
}

.article-list h1 a:hover {
    color: deeppink;
    border-bottom: 1px solid deeppink;
}

.article-list h1 a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.article-desc,
.article-msg {
    width: 89%;
    margin-right: 10%;
}

.article-desc {
    height: 50%;
    margin-top: 5px;
    font-size: 22px;
}

.article_desc_a {
    transition: all 0.3s;
    color: black;
}

.article_desc_a:hover {
    color: deeppink;
}

.article_desc_a:active {
    color: darkgoldenrod;
}

/* 分页 */
.pagination {
    margin-top: 30px;
    text-align: center;
    color: #5EAF6F;
}

.page_button {
    color: #fff2fb;
    background-color: #5EAF6F;
    border-radius: 5px;
    border: 1px solid #fff2fb;
    padding: 5px 8px;
    transition: all 0.3s;
}

.page_button:hover {
    background-color: #fff2fb;
    color: #5EAF6F;
    border: 1px solid #5EAF6F;
}
