* {
    margin: 0;
    padding: 0;
    font-family: 楷体;
}

body {
    width: 100%;
    overflow: hidden;
    cursor: url(/static/img/bg/S1.cur), auto !important;
    background: url(/static/img/welcome/background.jpg);
    background-attachment: fixed;
}

a, button, input, select, textarea {
    cursor: url(/static/img/bg/S2.cur), auto !important;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* 背景 */
.container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* 主体内容 */
.body {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* canvas */
.cavs {
    z-index: 0;
    position: fixed;
    top: 0;
    width: 98%;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

.nav {
    position: relative;
    top: 0;
    z-index: 9999;
}

/* 你的城市 */
.show-city {
    margin: 0 auto;
    margin-top: 8%;
    color: peachpuff;
    font-size: 40px;
    width: 100%;
    text-align: center;
}

/* 打字机 */
.autotype {
    margin-top: 1.875rem;
    padding: 0 0 0 40%;
    box-sizing: border-box;
    transition: all 0.3s;
    height: 15rem;
}


.autotype p {
    font-family: 楷体;
    margin: 10px 0;
    font-size: 2rem;
    text-align: left;
}

.one {
    color: orangered;
}

.two {
    color: yellow;
}

.three {
    color: deepskyblue;
}

.four {
    color: yellowgreen;
}

.five {
    color: #A020F0;
}

/* 导航 */
.nav {
    margin-top: 1.875rem;
    width: 100%;
    height: 3.75rem;
    line-height: 3.75rem;
    padding-left: 40%;
    box-sizing: border-box;
}

.nav-ul {
    width: 100%;
    height: 100%;
    text-align: center;
}

.nav-ul li {
    width: 6%;
    height: 100%;
    line-height: 3.75rem;
    float: left;
    margin-right: 0.8rem;
}

.nav-ul li a {
    display: block;
    height: 100%;
    line-height: 3.75rem;
    transition: all 0.3s;
}

.nav-ul li a:hover {
    transform: scale(1.2);
}

.nav-img {
    border-radius: 50%;
}
