<div>
  <div class="das-box animsition" data-animsition-in-class="fade-in-right" data-animsition-in-duration="300"
       data-animsition-out-class="fade-out-right" data-animsition-out-duration="300">
    <div class="left-welcome">
      <h2>档案室</h2>
    </div>
  </div>
  <div class="category-box animsition" data-animsition-in-class="fade-in-right" data-animsition-in-duration="600"
       data-animsition-out-class="fade-out-right" data-animsition-out-duration="600">
    <h3>分类</h3>
    <div class="show_msg">
      {% for cate in category %}
        {% if forloop.counter|add:0|divisibleby:5 %}
          <a href="{% url 'blog:home' %}category/{{ cate.0 }}" class="animsition-link">
            <span class="red">{{ cate.0 }}({{ cate.1 }})</span>
          </a>
        {% endif %}

        {% if forloop.counter|add:-1|divisibleby:5 %}
          <a href="{% url 'blog:home' %}category/{{ cate.0 }}" class="animsition-link">
            <span class="yellow">{{ cate.0 }}({{ cate.1 }})</span>
          </a>
        {% endif %}

        {% if forloop.counter|add:-2|divisibleby:5 %}
          <a href="{% url 'blog:home' %}category/{{ cate.0 }}" class="animsition-link">
            <span class="skyblue">{{ cate.0 }}({{ cate.1 }})</span>
          </a>
        {% endif %}

        {% if forloop.counter|add:-3|divisibleby:5 %}
          <a href="{% url 'blog:home' %}category/{{ cate.0 }}" class="animsition-link">
            <span class="green">{{ cate.0 }}({{ cate.1 }})</span>
          </a>
        {% endif %}

        {% if forloop.counter|add:-4|divisibleby:5 %}
          <a href="{% url 'blog:home' %}category/{{ cate.0 }}" class="animsition-link">
            <span class="blue">{{ cate.0 }}({{ cate.1 }})</span>
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="tags-box animsition" data-animsition-in-class="fade-in-right" data-animsition-in-duration="1000"
       data-animsition-out-class="fade-out-right" data-animsition-out-duration="1000">
    <h3>标签</h3>
    <div class="show_msg">
      {% for tag in tags %}
        {% if forloop.counter|add:0|divisibleby:5 %}
          <a href="{% url 'blog:home' %}tags/{{ tag.0 }}" class="animsition-link">
            <span class="red">{{ tag.0 }}({{ tag.1 }})</span>
          </a>
        {% endif %}

        {% if forloop.counter|add:-1|divisibleby:5 %}
          <a href="{% url 'blog:home' %}tags/{{ tag.0 }}" class="animsition-link">
            <span class="yellow">{{ tag.0 }}({{ tag.1 }})</span>
          </a>
        {% endif %}

        {% if forloop.counter|add:-2|divisibleby:5 %}
          <a href="{% url 'blog:home' %}tags/{{ tag.0 }}" class="animsition-link">
            <span class="skyblue">{{ tag.0 }}({{ tag.1 }})</span>
          </a>
        {% endif %}

        {% if forloop.counter|add:-3|divisibleby:5 %}
          <a href="{% url 'blog:home' %}tags/{{ tag.0 }}" class="animsition-link">
            <span class="green">{{ tag.0 }}({{ tag.1 }})</span>
          </a>
        {% endif %}

        {% if forloop.counter|add:-4|divisibleby:5 %}
          <a href="{% url 'blog:home' %}tags/{{ tag.0 }}" class="animsition-link">
            <span class="blue">{{ tag.0 }}({{ tag.1 }})</span>
          </a>
        {% endif %}

      {% endfor %}
    </div>
  </div>
</div>
