<div class="das-box animsition" data-animsition-in-class="fade-in-right" data-animsition-in-duration="1000"
     data-animsition-out-class="fade-out-right" data-animsition-out-duration="800">
	<div class="left-tip" style="background-color: rgba(0,0,0,0);">💛</div>
	<div class="left-welcome">
		<h2>档案室</h2>
	</div>
</div>
<div class="category-box animsition" data-animsition-in-class="fade-in-right" data-animsition-in-duration="1000"
     data-animsition-out-class="fade-out-right" data-animsition-out-duration="800">
	<div class="right-tip"><strong>!</strong></div>
	<h3>分类</h3>
	<div class="show_msg">
		{% for cate in category %}
			<a href="/blog/home/category/{{ cate.0 }}" class="animsition-link">{{ cate.0 }}-({{ cate.1 }})</a>
		{% endfor %}
	</div>
</div>
<div class="tags-box animsition" data-animsition-in-class="fade-in-right" data-animsition-in-duration="1000"
     data-animsition-out-class="fade-out-right" data-animsition-out-duration="800">
	<div class="right-tip"><strong>!</strong></div>
	<h3>标签</h3>
	<div class="show_msg">
		{% for tag in tags %}
			<a href="/blog/home/tags/{{ tag.0 }}" class="animsition-link">{{ tag.0 }}-({{ tag.1 }})</a>
		{% endfor %}
	</div>
</div>
