{% extends 'base.html' %}
{% load static %}
{% load archive_tags %}

{% block title %}
	<link rel="stylesheet" href="{% static 'blog/css/home.css' %}">
{% endblock %}

{% block center %}
<!-- 置顶文章设置 -->
	{% if first_list %}
		{% for article in first_list %}
			<div class="article-list animsition">
				<h1><a href="{% url 'blog:articles' articleId=article.pk %}"
				       class="animsition-link">{{ article.title }}</a>
				</h1>
				<div class="article-desc">
					<p><span style="color: #8000ff;">【置顶】</span>{{ article.desc }}...</p>
				</div>
				<p class="article-msg">
					分类:<span style="color: orangered">{{ article.category }}</span>
					&nbsp;浏览:<span style="color: greenyellow">{{ article.views }}</span>
					&nbsp;点赞:<span style="color: skyblue">{{ article.greatCount }}</span>
					&nbsp;发布日期:<span style="color: darkgreen">{{ article.created_time|date:'Y年m月d日' }}</span>
				</p>
			</div>
		{% endfor %}
	{% endif %}

	{% for article in pageObj %}
		<div class="article-list animsition">
			<h1><a href="{% url 'blog:articles' articleId=article.pk %}" class="animsition-link">{{ article.title }}</a>
			</h1>
			<div class="article-desc">
				<p><span style="color: deeppink;">【话说】</span>{{ article.desc }}...
				</p>
			</div>
			<p class="article-msg">
				分类:<span style="color: orangered">{{ article.category }}</span>
				&nbsp;浏览:<span style="color: greenyellow">{{ article.views }}</span>
				&nbsp;点赞:<span style="color: skyblue">{{ article.greatCount }}</span>
				&nbsp;发布日期:<span style="color: darkgreen">{{ article.created_time|date:'Y年m月d日' }}</span>
			</p>
		</div>
	{% endfor %}
	<div class="pagination animsition">
	<span class="step-links">
		{% if pageObj.has_previous %}
			<a href="?page=1" class="page_button">&laquo;首 页</a>
			<a href="?page={{ pageObj.previous_page_number }}" class="page_button">上一页</a>
		{% endif %}

		<span class="current">
			第 {{ pageObj.number }} 页， 共 {{ pageObj.paginator.num_pages }} 页
		</span>

		{% if pageObj.has_next %}
			<a href="?page={{ pageObj.next_page_number }}" class="page_button">下一页</a>
			<a href="?page={{ pageObj.paginator.num_pages }}" class="page_button">尾 页&raquo;</a>
		{% endif %}
	</span>
	</div>
{% endblock %}

{% block right %}
	{% get_archive_style %}
{% endblock %}

{% block script %}
	<!-- 子页面js引入 -->
{% endblock %}
