{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Mr'Xu">
	<meta name="Description" content="WebSite Manae">
	<meta name="keywords" content="花有重开日，人无再少年">
	<meta name="website" content="http://www.xumeijie.com/">
	<link rel="shortcut icon" href="{% static 'site_icon/mysite_couple_heart_love_icon.svg' %}"/>
	<title id="site_title">后台登陆</title>
	<link rel="stylesheet" href="{% static 'managestatic/css/login.css' %}">
	<script src="https://www.jq22.com/jquery/jquery-2.1.1.js"></script>
</head>
<body>
<div class="form">
	<form method="post">
		{% csrf_token %}
		<p><span>Username:</span><input class="input" type="text" name="username" placeholder="Username"></p>
		<p><span>Password:</span><input class="input" type="password" name="pwd" placeholder="Password"></p>
		<p><input type="submit" value="<-Submit->" class="submit"><span style="color: red;">{{ error_msg }}</span></p>
	</form>
</div>
</body>
</html>
