{% extends 'managehtml/mange_layout.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'managestatic/css/article.css' %}">
    {#	<script src="https://cloud.tinymce.com/5/tinymce.min.js?apiKey=retdd23ttr6nni794usypbdnum2r8e0vu4z9g6mnkdjeknbr" referrerpolicy="origin"></script>#}
{% endblock %}

{% block content %}
    <div class="article-add">
        <form method="post">
            {% csrf_token %}
            <div class="input-group" style="margin-bottom: 20px;">
				<span class="input-group-addon" id="basic-addon1"
                      style="background-color: orangered;color: whitesmoke;">Title</span>
                <input type="text" name="article_title" maxlength="30" id="article_title"
                       class="form-control article-title" placeholder="文章标题"
                       aria-describedby="basic-addon1" value="{{ title }}">
            </div>

            <div class="input-group" style="margin-bottom: 20px;width: 100%;">
                <p style="color: #ff6651;">选择标签：标签可以选择多个！</p>
                <p class="select-op">
                    {% for tag in tagsObj %}
                        <label for="{{ tag.pk }}">
                            <input type="checkbox" name="tags" value="{{ tag.id }}" id="{{ tag.pk }}">
                            <span style="margin-right: 10px;color: #ff6651">{{ tag.title }}</span>
                        </label>
                    {% endfor %}
                </p>
                <p>
                <p style="color: #ff6651">选择分类：分类只能选择一个！</p>
                <p class="select-op">
                    {% for cate in cateObj %}
                        <label for="cate_{{ cate.pk }}">
                            <input type="checkbox" name="category" value="{{ cate.id }}" id="cate_{{ cate.pk }}">
                            <span style="margin-right: 10px;color: #ff6651">{{ cate.title }}</span>
                        </label>
                    {% endfor %}
                </p>
            </div>
            <div class="input-group">
                <textarea name="article_body" id="tinymec">{{ body }}</textarea>
            </div>
            {% if status_msg %}
                <div class="alert alert-warning alert-dismissible" role="alert"
                     style="margin-top: 20px;float: left;width: 70%;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    {% if status %}
                        <strong>Success!</strong> 操作成功！
                    {% else %}
                        <strong>Warning!</strong> 数据缺失，重新搞一下！
                    {% endif %}
                </div>
            {% endif %}

            <button type="submit" id="myButton" data-loading-text="Loading..." class="btn btn-primary">
                提交
            </button>
        </form>
    </div>
{% endblock %}

{% block js %}
    <script rel="text/javascript" src="{% static 'tinymce/js/tinymce/tinymce.min.js' %}"></script>
    <script rel="text/javascript" src="{% static 'managestatic/js/tinymce.js' %}"></script>
{% endblock %}