{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mr'Xu">
    <meta name="Description" content="WebSite Manae">
    <meta name="keywords" content="search keyword">
    <meta name="website" content="http://www.xumeijie.com/">
    <link rel="shortcut icon" href="{% static 'site_icon/mysite_couple_heart_love_icon.svg' %}"/>
    <title id="site_title">(´▽`ʃ♡ƪ)爱你哟❤</title>
    <!-- 自定义css -->
    <link rel="stylesheet" href="{% static 'managestatic/css/layout.css' %}">
    <!-- bootstrap -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://www.jq22.com/jquery/jquery-2.1.1.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome/5.13.0/css/all.css" rel="stylesheet">
    <!-- 子页面css引入 -->
    {% block css %}{% endblock %}
</head>
<body>
<ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="li"><a href="{% url 'manage:manage_home' %}">后台</a></li>
    <li role="presentation" class="li"><a href="{% url 'manage:article_manage' %}">文章管理</a></li>
    <li role="presentation" class="li"><a href="{% url 'manage:tags_manage' %}">标签管理</a></li>
    <li role="presentation" class="li"><a href="{% url 'manage:category_manage' %}">分类管理</a></li>
    <li role="presentation" class="li"><a href="{% url 'manage:essay_manage' %}">随笔管理</a></li>
    <li role="presentation" class="li"><a href="{% url 'manage:leave_manage' %}">留言管理</a></li>
    <li role="presentation" class="li"><a href="{% url 'manage:users_manage' %}">用户管理</a></li>
    <li role="presentation" class="li"><a href="{% url 'blog:home' %}">查看栈点</a></li>
</ul>

<div class="content">
    {% block content %}

    {% endblock %}
</div>
</body>
<script src="{% static 'managestatic/js/layout.js' %}"></script>
<script src="{% static 'blog/js/site_title.js' %}"></script>

{% block js %}

{% endblock %}
</html>
