{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="徐小杰">
	<meta name="Description" content="python,编程,web开发,前端,后端">
	<meta name="keywords" content="花有重开日,人无再少年 徐小杰">
	<meta name="website" content="http://www.missyouc.cn/">
	<link rel="shortcut icon" href="{% static 'site_icon/mysite_couple_heart_love_icon.svg' %}"/>
	<title id="site_title">{{ username }}|的个人信息</title>
	<script src="https://www.jq22.com/jquery/jquery-2.1.1.js"></script>
</head>
<body>
<h1>用户详情页</h1>
{% if is_super %}
<h1>欢迎领导前来视察工作!</h1>
	<h2><a href="{% url 'manage:manage_home' %}">进入后台</a></h2>
{% endif %}
</body>
</html>
